<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">BARBERZ</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerlinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/appointment" routerlinkActive="active">Appointment</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)="showbooking()" routerlinkActive="active">Booking</a>
                    <!-- routerLink="/showbooking"  
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<div class="container">
    <div>
        <!-- {{MSG | json }} -->
    </div>
    <div class="text-center mb-3">
        <!-- <button class="btn btn-primary " (click)="showbooking()"> Show Booking </button> -->
        <!-- <a class="nav-link" routerlinkActive="active">Booking</a> -->
    </div>
</div>


<!-- <div *ngFor="let data of booking">
    {{data}}
</div> -->

<!-- <div>
    {{ data | json }}
</div> -->
<div class="container">
    <h2>Toggleable Tabs</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <h3>HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>
    </div>
</div>
<!-- <div class="text-dark">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Email</th>
                <th>Date & Time</th>
                <th>Service</th>
                <th>Mobile No.</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings; let j=index">
                <td>{{booking.id}}</td>
                <td>{{booking.post_title}}</td>
                <td>{{booking.post_content}}</td>
                <td>{{booking.post_date}}</td>
                <td>{{booking.post_excerpt}}</td>
                <td>{{booking.to_ping}}</td>
                <td><button class="btn btn-success" (click) = "update(booking)">Edit</button></td>
                <td><button class="btn btn-danger" (click) = "delete(booking.id)">Delete</button></td>
                <td>{{booking.post_status}}</td>    
            </tr>
            <tr *ngFor="let booking of MSG; let j=index">
                <td>{{booking.id}}</td>
                <td>{{booking.post_title}}</td>
                <td>{{booking.post_content}}</td>
                <td>{{booking.post_date}}</td>
                <td>{{booking.post_excerpt}}</td>
                <td>{{booking.to_ping}}</td>
                <td><button class="btn btn-success" (click) = "update(booking)">Edit</button></td>
                <td><button class="btn btn-danger" (click) = "delete(booking.id)">Delete</button></td>
                <td>{{booking.post_status}}</td>
            </tr>
        </tbody>
    </table>
</div> -->