<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">BARBERZ</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerlinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/appointment" routerlinkActive="active">Appointment</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)="showbooking()" routerlinkActive="active">Booking</a>
                    <!-- routerLink="/showbooking"  
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<div class="container">
    <div>
        <!-- {{MSG | json }} -->
    </div>
    <div class="text-center mb-3">
        <!-- <button class="btn btn-primary " (click)="showbooking()"> Show Booking </button> -->
        <!-- <a class="nav-link" routerlinkActive="active">Booking</a> -->
    </div>
</div>


<!-- <div *ngFor="let data of booking">
    {{data}}
</div> -->

<!-- <div>
    {{ data | json }}
</div> -->
<div class="text-dark">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Email</th>
                <th>Date & Time</th>
                <th>Service</th>
                <th>Mobile No.</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
                <td>{{booking.id}}</td>
                <td>{{booking.post_title}}</td>
                <td>{{booking.post_content}}</td>
                <td>{{booking.post_date}}</td>
                <td>{{booking.post_excerpt}}</td>
                <td>{{booking.to_ping}}</td>
                <td><button class="btn btn-primary" (click) = "update(booking)">Edit</button></td>
                <td><button class="btn btn-primary" (click) = "delete(booking)">Delete</button></td>
            </tr>
            <tr *ngFor="let booking of MSG">
                <td>{{booking.id}}</td>
                <td>{{booking.post_title}}</td>
                <td>{{booking.post_content}}</td>
                <td>{{booking.post_date}}</td>
                <td>{{booking.post_excerpt}}</td>
                <td>{{booking.to_ping}}</td>
                <td><button class="btn btn-primary" (click) = "update(booking)">Edit</button></td>
                <td><button class="btn btn-primary" (click) = "delete(booking)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>