<!-- <div class="row m-0 p-0">
  <div class="frm rounded-lg p-5 mx-auto">
    <h2 class="margin l_class text-center">Login</h2>
    <form [formGroup]='loginForm'>
      <div class="form-group">
        <h6 for="username">Username:</h6>
        <input type="text" class="form-contral rounded-lg pl-1 border-0" placeholder="Enter your Email"
          formControlName="username" name="username" required>
      </div>
      <div class="form-group">
        <h6 for="username">Password:</h6>
        <input type="password" class="form-contral rounded-sm pl-1 border-0" placeholder="Enter your Password"
          formControlName="password" name="password" required>
        <div class="btnn"><button type="submit" class="btn btn-warning mt-3 px-5"
            (click)="loginUser(loginForm.value)">Login</button>
        </div>
      </div>
    </form>
  </div>
</div> -->


<style>
  .form {
    margin: 180px 0;
  }
</style>

<div class="container">
  <div class="border p-4 w-50 mx-auto form">
    <div class="header">
      <h1 class="text-center">Form</h1>
    </div>
    <form [formGroup]='loginForm'>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="text" class="form-control" placeholder="Enter your Email" formControlName="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter your Password" formControlName="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100" (click)="loginUser(loginForm.value)">Login</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>